<div class="divcontact">
    <br><br><br>
    <table class="divcontactForm">

        <tr>
            <td colspan="2" class="styleSend">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <figure>
                        <img class="imgContact" src="../../../assets/contactUs.png">
                    </figure>
                </div>
            </td>
        </tr>
        <tr>
            <td class="textSelec">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email: </label>
                </div>
            </td>
            <td>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="signatures@correo.com">
                </div>
            </td>
        </tr>
        <tr>
            <td class="textSelec">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Comentario: </label>

                </div>
            </td>
            <td>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Déjanos aquí un comentario"></textarea>

                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="styleSend">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary">Enviar</button>
                </div>
            </td>
        </tr>
    </table>

</div>